{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = '{% static "about.css" %}'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Про нас | Вояж</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <a href="index.html">
      <img src="/static/picture.png" alt="Логотип компании">
    </a>
    <h1>Вояж</h1>
  </header>
  <main>
    <section class="about-us">
      <h2>Про нас</h2>
      <p>
        Вояж – це провідна компанія з бронювання квитків на круїзні лайнери.
        Ми пропонуємо широкий вибір круїзів по всьому світу,
        а також зручний та простий спосіб бронювання квитків.
      </p>
      <p>
        Наша команда досвідчених фахівців завжди готова допомогти вам вибрати ідеальний круїз.
         відповідно до ваших побажань та бюджету.
         Ми пропонуємо:
      </p>
      <ul>
        <li>Широкий вибір круїзних маршрутів та лайнерів</li>
        <li>Найкращі ціни на квитки</li>
        <li>Зручний та простий спосіб бронювання</li>
        <li>Цілодобову підтримку клієнтів</li>
      </ul>
      <p>
        Вояж – це ваш надійний партнер у світі круїзних подорожей.
        З нами ви зможете легко та зручно забронювати квитки на круїз своєї мрії!
      </p>
    </section>
    <section class="why-choose-us">
      <h2>Чому обирають нас?</h2>
      <ul>
        <li>
          <!-- <img src="icon-experience.png" alt="Иконка опыта"> -->
          <h3>Багаторічний досвід</h3>
          <p>Ми працюємо на ринку круїзних подорожей вже більше [кількість] років.</p>
        </li>
        <li>
          <!-- <img src="icon-best-prices.png" alt="Иконка лучших цен"> -->
          <h3>Найкращі ціни</h3>
          <p>Ми пропонуємо найвигідніші ціни на квитки.</p>
        </li>
        <li>
          <!-- <img src="icon-easy-booking.png" alt="Иконка легкого бронирования"> -->
          <h3>Просте бронювання</h3>
          <p>Забронювати квитки на нашому сайті легко та зручно.</p>
        </li>
        <li>
          <!-- <img src="icon-support.png" alt="Иконка поддержки"> -->
          <h3>Цілодобова підтримка</h3>
          <p>Наша команда підтримки клієнтів завжди готова вам допомогти.</p>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; Вояж | 2000-2024</p>
    <a href="privacy.html">Політика конфіденційності</a>
  </footer>
</body>
</html>