{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = '{% static "about.css" %}'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>О нас | Вояж</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <a href="index.html">
      <img src="/static/picture.png" alt="Логотип компании">
    </a>
    <h1>Вояж</h1>
  </header>
  <main>
    <section class="about-us">
      <h2>О нас</h2>
      <p>
        Вояж - это ведущая компания по бронированию билетов на круизные лайнеры. 
        Мы предлагаем широкий выбор круизов по всему миру, 
        а также удобный и простой способ бронирования билетов.
      </p>
      <p>
        Наша команда опытных специалистов всегда готова помочь вам выбрать идеальный круиз 
        в соответствии с вашими пожеланиями и бюджетом. 
        Мы предлагаем:
      </p>
      <ul>
        <li>Широкий выбор круизных маршрутов и лайнеров</li>
        <li>Лучшие цены на билеты</li>
        <li>Удобный и простой способ бронирования</li>
        <li>Круглосуточную поддержку клиентов</li>
      </ul>
      <p>
        Вояж - это ваш надежный партнер в мире круизных путешествий. 
        С нами вы сможете легко и удобно забронировать билеты на круиз своей мечты!
      </p>
    </section>
    <section class="why-choose-us">
      <h2>Почему выбирают нас?</h2>
      <ul>
        <li>
          <!-- <img src="icon-experience.png" alt="Иконка опыта"> -->
          <h3>Многолетний опыт</h3>
          <p>Мы работаем на рынке круизных путешествий уже более [количество] лет.</p>
        </li>
        <li>
          <!-- <img src="icon-best-prices.png" alt="Иконка лучших цен"> -->
          <h3>Лучшие цены</h3>
          <p>Мы предлагаем самые выгодные цены на билеты.</p>
        </li>
        <li>
          <!-- <img src="icon-easy-booking.png" alt="Иконка легкого бронирования"> -->
          <h3>Простое бронирование</h3>
          <p>Забронировать билеты на нашем сайте легко и удобно.</p>
        </li>
        <li>
          <!-- <img src="icon-support.png" alt="Иконка поддержки"> -->
          <h3>Круглосуточная поддержка</h3>
          <p>Наша команда поддержки клиентов всегда готова вам помочь.</p>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; Вояж | 2000-2024</p>
    <a href="privacy.html">Политика конфиденциальности</a>
  </footer>
</body>
</html>